.guide{
	margin-top: 5px;
	width:500px;
	height:auto;
	padding: 5px;				
	border-radius: 5px;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	background-color: #003f83;
	border: 1px solid #0051a6;
	text-shadow: none;
	color: #FFF;
	text-align: center;
}
.guide a{
	color: #FFF;
}
.login-btn{
	background-color: #C41230;
	border: 1px solid #ea1f41;
	text-shadow: none;
	color: #FFF;
	text-transform: uppercase;
	color: #FFF;
	padding: 8px 16px;
	border-radius: 4px;
	float: right;
}
.social-media{
	margin-top: 5px;
	width:500px;
	height:auto;
	padding: 20px;				
	border-radius: 5px;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	background: #003F69;
	background: -moz-linear-gradient(top,#003F69 0%,#003F80 100%);
	background: -o-linear-gradient(top,#003F69 0%,#003F80 100%);
	background: -webkit-linear-gradient(top,#003F69 0%,#003F80 100%);
	background: -ms-linear-gradient(top,#003F69 0%,#003F80 100%);
	background: linear-gradient(to bottom,#003F69 0%,#003F80 100%);
	background: -webkit-gradient(left top,left bottom,color-stop(0%,#003F69),color-stop(100%,#003F80));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE8E6E6',endColorstr='#FFD0CBCB',GradientType=0);
	box-shadow: inset 0px 2px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
}
.sep{
	padding-left: 5px;
}
.login-bg{
	width:100%;
	height:100%;
	/* background-color: #002E5F; */
}
.login-form{
	width:500px;
	height:auto;
	padding: 20px;				
	border-radius: 5px;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	background: #e8e6e6;
    background: -moz-linear-gradient(top,#e8e6e6 0%,#d0cbcb 100%);
    background: -o-linear-gradient(top,#e8e6e6 0%,#d0cbcb 100%);
    background: -webkit-linear-gradient(top,#e8e6e6 0%,#d0cbcb 100%);
    background: -ms-linear-gradient(top,#e8e6e6 0%,#d0cbcb 100%);
    background: linear-gradient(to bottom,#e8e6e6 0%,#d0cbcb 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,#e8e6e6),color-stop(100%,#d0cbcb));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE8E6E6',endColorstr='#FFD0CBCB',GradientType=0);
    box-shadow: inset 0px 2px 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
}		
.login-form div{
	padding: 7px;
}
.login{
	padding-top: 10%;		
}
.login label{
	color: rgba(0,0,0,0.5);
	font-weight: normal;
}
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {
	.login-form ,.social-media,.guide{
		width:300px;
		padding: 10px;	
		padding-bottom: 20px;
	}		
	.social-media,.guide{
		width:300px;
		padding: 10px;	
	}
	.login-form img{
		width: 200px;
	}
}
@media only screen and (max-width : 320px) {

}