<div class="menuTabs">
	<ul class="nav list-group" >
		<li><a class="list-group-item" ng-click="home.getAllProducts()"> All</a> </li>
		<li data-ng-repeat="cat in home.category">
			<a ng-if="cat.subItem.length != 0" class="list-group-item" data-toggle="collapse" data-target="#submenu{{cat.id}}" aria-expanded="false"> {{cat.name}} <span class="caret"></span></a>
			
			<ul ng-if="cat.subItem.length != 0" class="nav collapse" id="submenu{{cat.id}}" role="menu" aria-labelledby="btn-1">
				<li><a class="list-group-item" data-ng-repeat="catSub in cat.subItem" ng-click="home.showCatProd(catSub.id)" style="padding-left:50px;"> {{catSub.name}}
				</a></li>
			</ul>
			
		
			<a ng-if="cat.subItem.length == 0" class="list-group-item" ng-click="home.showCatProd(cat.id)"> {{cat.name}} </a>
		</li>
		
		
	</ul>
</div>